<section id="landing-section">
  <div class="dark-overlay">
    <div class="inner">
      <div class="container">
        <div class="row landing-row d-flex">
          <div class="col-lg-6 ">
            <h1>Do you like music?</h1>
            <p class="d-none d-md-block">Tunel is a musicshool. Tunel music school has a 20-year history of music courses.If you are interested, Sign up and check out music lessons. You can create trial lesson.
            </p>
          </div>
          <div class="col-lg-6 align-self-center">
            <div class="card text-center card-form">
              <div class="card-body">
                <form action="/signup" method="POST">
                  <div class="form-group">
                    <input class="form-control" type="text" name="username" placeholder="Username" maxlength="12" required>
                  </div>
                  <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="Password" maxlength="20">
                  </div>
                  <button class="btn btn-course btn-block" type="submit">Sign Up</button>
                </form>
                <p class="card-text pt-3"><small class="text-muted">Already a member? <a class="course-link" href="/login">Log In.</a></small></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>